<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="svnserver.Test.dbo" connectionString="XpoProvider=MSSqlServer;data source=192.168.30.31;user id=sa;password=fkt;initial catalog=Test;Persist Security Info=true" />
    </connectionStrings>
</configuration>