@model ErrorPageViewModel
<div class="container">
    <div class="page-header">
        <h1>Access Denied</h1>
    </div>

    <h1>This email (@Model.Email) is not registerd with ABS Enterprise Core</h1>
    <a class="btn btn-primary btn-lg active" role="button" href="@Model.ReturnUrl">Go Back</a>
    <a class="btn btn-danger btn-lg active" role="button" href="@Model.ChallengeUrl">Try Again</a>
</div>