@model InvalidLoginViewModel
@{
    ViewData["Title"] = "Invalid Login";
}

<h2 class="danger">User must be a CICON Employee with an email address ends with cicon.net</h2>


<meta http-equiv="refresh" content="0;url=https://localhost:44309/InvalidLoginView" data-url="https://localhost:44309/InvalidLoginView">
<script src="~/js/signin-redirect.js"></script>
